page-heroes {
    h2{
        color:white;
        text-align: center;
        font-family: fantasy;
    }
    p{
        color:white;
        font-style:oblique;
        font-family: fantasy;
    }
}
.card-background-page {

  ion-card {
    position: absolute;
    text-align: center;
    background-color: lightblue;
    height: absolute;
  }

  .card-title {
    position: relative;
    color: white;
    font-style:oblique;
    font-family: fantasy;
  }
  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 58%;
    width: 100%;
    color: #fff;
  }
}
div, img {
  display: block;
  position: relative;		
  width: 100%;
}

div p {
  background-color: rgba(0,0,0,.6);
  display: block;
  position: absolute;
  text-align: center;
  bottom: -18px;
  left: 0;
  padding: 0px;
  width: 100%;
  font-size: 1.3em;  
}
.img-round-border{
    border-radius:15px;
}
.text{
    border-radius:0px 0px 15px 15px;
}