<!--
  Generated template for the HeroesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="calm" >
    <ion-title>Heroes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="card-background-page">
    <ion-grid>
      <ion-row>
        <ion-col col-4>
            <div>
                <img src="assets/imgs/characters/doomfist.png" class="img-round-border"/>
                <p class="text">DOOMFIST</p>
            </div>
        </ion-col>
        <ion-col col-4>
            <div>
                <img src="assets/imgs/characters/genji.png" class="img-round-border"/>
                <p class="text">GENJI</p>
            </div>
        </ion-col>
        <ion-col col-4>
            <div>
                <img src="assets/imgs/characters/mccree.png" class="img-round-border"/>
                <p class="text">MCCREE</p>
            </div>  
        </ion-col>
      </ion-row>
      <ion-row>
         <ion-col col-4>
            <div>
                <img src="assets/imgs/characters/pharah.png" class="img-round-border"/>
                <p class="text">PHARAH</p>
            </div>
        </ion-col>
        <ion-col col-4>
            <div>
                <img src="assets/imgs/characters/reaper.png" class="img-round-border"/>
                <p class="text">REAPER</p>
            </div>
        </ion-col>
        <ion-col col-4>
            <div>
                <img src="assets/imgs/characters/soldier76.png" class="img-round-border"/>
                <p class="text">SOLDADO: 76</p>
            </div>  
        </ion-col>
      </ion-row>
        <ion-row>
         <ion-col col-4>
            <div>
                <img src="assets/imgs/characters/sombra.png" class="img-round-border"/>
                <p class="text">SOMBRA</p>
            </div>
        </ion-col>
        <ion-col col-4>
            <div>
                <img src="assets/imgs/characters/tracer.png" class="img-round-border"/>
                <p class="text">TRACER</p>
            </div>
        </ion-col>
        <ion-col col-4>
            <div>
                <img src="assets/imgs/characters/bastion.png" class="img-round-border"/>
                <p class="text">BASTION</p>
            </div>  
        </ion-col>
      </ion-row>
        <ion-row>
         <ion-col col-4>
            <div>
                <img src="assets/imgs/characters/hanzo.png" class="img-round-border"/>
                <p class="text">HANZO</p>
            </div>
        </ion-col>
        <ion-col col-4>
            <div>
                <img src="assets/imgs/characters/junkrat.png" class="img-round-border"/>
                <p class="text">JUNKRAT</p>
            </div>
        </ion-col>
        <ion-col col-4>
            <div>
                <img src="assets/imgs/characters/mei.png" class="img-round-border"/>
                <p class="text">MEI</p>
            </div>  
        </ion-col>
      </ion-row>
        <ion-row>
         <ion-col col-4>
            <div>
                <img src="assets/imgs/characters/torbjorn.png" class="img-round-border"/>
                <p class="text">TORBJÖRN</p>
            </div>
        </ion-col>
        <ion-col col-4>
            <div>
                <img src="assets/imgs/characters/widowmaker.png" class="img-round-border"/>
                <p class="text">WIDOWMAKER</p>
            </div>
        </ion-col>
        <ion-col col-4>
            <div>
                <img src="assets/imgs/characters/dva.png" class="img-round-border"/>
                <p class="text">D.VA</p>
            </div>  
        </ion-col>
      </ion-row>
        <ion-row>
         <ion-col col-4>
            <div>
                <img src="assets/imgs/characters/orisa.png" class="img-round-border"/>
                <p class="text">ORISA</p>
            </div>
        </ion-col>
        <ion-col col-4>
            <div>
                <img src="assets/imgs/characters/reinhardt.png" class="img-round-border"/>
                <p class="text">REINHARDT</p>
            </div>
        </ion-col>
        <ion-col col-4>
            <div>
                <img src="assets/imgs/characters/roadhog.png" class="img-round-border"/>
                <p class="text">ROADHOG</p>
            </div>  
        </ion-col>
      </ion-row>
        <ion-row>
         <ion-col col-4>
            <div>
                <img src="assets/imgs/characters/winston.png" class="img-round-border"/>
                <p class="text">WINSTON</p>
            </div>
        </ion-col>
        <ion-col col-4>
            <div>
                <img src="assets/imgs/characters/zarya.png" class="img-round-border"/>
                <p class="text">ZARYA</p>
            </div>
        </ion-col>
        <ion-col col-4>
            <div>
                <img src="assets/imgs/characters/ana.png" class="img-round-border"/>
                <p class="text">ANA</p>
            </div>  
        </ion-col>
      </ion-row>
        <ion-row>
         <ion-col col-4>
            <div>
                <img src="assets/imgs/characters/brigitte.png" class="img-round-border"/>
                <p class="text">BRIGITTE</p>
            </div>
        </ion-col>
        <ion-col col-4>
            <div>
                <img src="assets/imgs/characters/lucio.png" class="img-round-border"/>
                <p class="text">LÚCIO</p>
            </div>
        </ion-col>
        <ion-col col-4>
            <div>
                <img src="assets/imgs/characters/mercy.png" class="img-round-border"/>
                <p class="text">MERCY</p>
            </div>  
        </ion-col>
      </ion-row>
        <ion-row>
         <ion-col col-4>
            <div>
                <img src="assets/imgs/characters/moira.png" class="img-round-border"/>
                <p class="text">MOIRA</p>
            </div>
        </ion-col>
        <ion-col col-4>
            <div>
                <img src="assets/imgs/characters/symmetra.png" class="img-round-border"/>
                <p class="text">SYMMETRA</p>
            </div>
        </ion-col>
        <ion-col col-4>
            <div>
                <img src="assets/imgs/characters/zenyatta.png" class="img-round-border"/>
                <p class="text">ZENYATTA</p>
            </div>  
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
