<ion-header>
  <ion-navbar color="calm">
    <ion-title text-center>
      OverCom
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="card-background-page">
    <h2>Bienvenidos a OverCom</h2>
    <ion-card [navPush]="heroes">
        <img src="assets/imgs/banner_heroes.png"/>
            <ion-card-content>
                <div class="card-title">HEROES</div>
            </ion-card-content>
    </ion-card>
    <ion-card>
        <img src="assets/imgs/banner_composition.png"/>
            <ion-card-content>
                <div class="card-title">COMPOSICIONES</div>
            </ion-card-content>
    </ion-card>
    <ion-card>
        <img src="assets/imgs/banner_option.jpg"/>
            <ion-card-content>
                <div class="card-title">OPCIONES</div>
            </ion-card-content>
    </ion-card>
    <ion-card>
        <img src="assets/imgs/banner_customize.jpg"/>
            <ion-card-content>
                <div class="card-title">PERSONALIZAR</div>
            </ion-card-content>
    </ion-card>
</ion-content>
