page-home {
    h2{
        color:white;
        text-align: center;
        font-family: fantasy;
    }
    p{
        color:white;
    }
    img{
        position:relative;
    }
}
.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
    background-color: orange;
      height: 130px
  }

  .card-title {
    position: absolute;
    bottom: 0%;
    font-size: 1.5em;
    width: 100%;
    color: white;
    align-content: center;
    font-style:oblique;
    font-family: fantasy;
  }
  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 58%;
    width: 100%;
    color: #fff;
  }
}